<div class="container">
      <div class="header clearfix">
<nav class="navbar navbar-expand-xl navbar-light">
        <a class="navbar-brand" href="{{ site.url }}" alt="{{ page.title }} - Cổng thông tin điện tử C4K60">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav">
<!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {{ page.tc }}" href="#" id="navbardrop" data-toggle="dropdown">
        Tra cứu
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item {{ page.dt }}" id="diemthi" href="/diemthi">Điểm thi học kỳ 2</a>
        <a class="dropdown-item {{ page.dtk }}" id="diemtongket" href="/diemtongket">Điểm tổng kết</a>
        <a class="dropdown-item {{ page.hs }}"  id="hoso" href="/hoso">Hồ sơ học sinh</a>
        <a class="dropdown-item {{ page.btvn }}" id="btvn" href="/baitap">Bài tập về nhà</a>
      </div>
    </li>
            <li class="nav-item">
                <a class="nav-link {{ page.tkb }}" id="thoikhoabieu" href="/thoikhoabieu">Thời khoá biểu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.tbl }}" id="thongbao" href="/thongbaolop">Thông báo lớp</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link {{ page.tva }}" id="thuvien" href="/thuvienanh">Thư viện ảnh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ page.c }}" id="chat" href="/chat">Chat</a>
            </li>
        </ul>
    </div>
</nav>
      </div>