<!DOCTYPE html>
<html>
  {% include head.html %}

  <body style="margin-top: 100px;">

    {% include navbar.html %}
    {% include chatbar.html %}
    <div class="alert alert-success alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><i class="fas fa-coffee"></i> Top Donator:</strong> <a href="https://facebook.com/ndhai1012">Nguyễn Đặng Hải</a> - 2$. Cảm ơn bạn vì đã ủng hộ! Đóng góp của bạn là động lực rất lớn để chúng tôi hoàn thiện trang web này.
</div>
        {{ content }}

      {% include footer.html %}
  </body>
</html>