---
layout: default
---
<style>
.navbar-brand{
font-size: 2rem;
}
</style>
<h3><i class="fas fa-bullhorn"></i> Thông báo lớp</h3>
<div class="content list">
{% if site.categories.thongbaolop.size == 1 %}
  <h5><strong>Không có thông báo nào :)</strong></h5>
{% else %}
{% for post in site.categories.thongbaolop %}
{% if post.title == 1 %}
 <h2 class="list-post-title" style="display: none">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
{% else %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time><!-- Whitespace added for readability -->

{% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
{% case m %}
            {% when  '1' %}Tháng Giêng
            {% when  '2' %}Tháng Hai
            {% when  '3' %}Tháng Ba
            {% when  '4' %}Tháng Tư
            {% when  '5' %}Tháng Năm
            {% when  '6' %}Tháng Sáu
            {% when  '7' %}Tháng Bảy
            {% when  '8' %}Tháng Tám
            {% when  '9' %}Tháng Chín
            {% when '10' %}Tháng Mười
            {% when '11' %}Tháng Mười Một
            {% when '12' %}Tháng Mười Hai
{% endcase %}
{{ post.date | date: "%Y" }}
</time>
    </div>
  </div>
{% endif %}
{% endfor %}
{% endif %}
</div>
<br>

<a href="http://facebook.com/groups/c4k60/">Xem thêm tại group Facebook C4K60...</a>
<br>
<br>